html
  head
    title= "IMD Football " + match.matchname
    //style
      //include ../../build/css/build.css
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script
      include ../script/script.js
    script(src='http://localhost:3000/socket.io/socket.io.js')
  body
  div.container
    h1(id="matchName" data-matchname= "" + match.matchname)= match.matchname
    a(href='http://localhost:3000/matches/') Back to matches
    div.match__results
      h2.country1name= match.country1name
      h3.country1goals= JSON.stringify(match.country1Goals)
      h3.country2goals= JSON.stringify(match.country2Goals)
      h2.country2name= match.country2name
    hr
    div.match__details
      h4.totalshots
        span= JSON.stringify(match.country1Shots) + ' '
        | Total shots 
        span= JSON.stringify(match.country2Shots)
      h4.totalfouls
        span= JSON.stringify(match.country1Fouls) + ' '
        | Total fouls 
        span= JSON.stringify(match.country2Fouls)
    hr
    br
    div.match__manage
        input(type = "text", id = "matchName" class='inputfield' placeholder = "matchname" value=match.matchname)
        input(type = "text", id = "country1name" class='inputfield' placeholder = "country1name" value=match.country1name)
        input(type = "text", id = "country2name" class='inputfield' placeholder = "country2name" value=match.country2name)
        input(type = "text", id = "country1goals" class='inputfield' placeholder = "country1goals" value=match.country1Goals)
        input(type = "text", id = "country2goals" class='inputfield' placeholder = "country2goals" value=match.country2Goals)
        input(type = "text", id = "country1shots" class='inputfield' placeholder = "country1shots" value=match.country1Shots)
        input(type = "text", id = "country2shots" class='inputfield' placeholder = "country2shots" value=match.country2Shots)
        input(type = "text", id = "country1fouls" class='inputfield' placeholder = "country1fouls" value=match.country1Fouls)
        input(type = "text", id = "country2fouls" class='inputfield' placeholder = "country2fouls" value=match.country2Fouls)